* {
    box-sizing: border-box;
}

body {
    font: normal 16px Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 20px;
}

h1 {
    font-size: 32px;
    
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
    color: lightseagreen;
}